each item in items

	a.ui.blurring.fluid.blue.card(href=prefix+item.id)
		.image
			img(src=prefix+item.id+'/'+item.image)
		.content
			.header #{item.title}
			.meta #{item.created}
			.description
				| #{item.content_html}
		.extra.content
			| Author info here
