each item in items
	.column
		a(href=prefix+item.url+'/')
			.ui.fluid.blue.card
				.image
					img(src=prefix+item.url+'/'+item.image)
				.content
					.header #{item.title}
					.meta #{item.created}
					.description
						| #{item.content_html}
				.extra.content
					h5.ui.image.header
						img.ui.avatar.image(src=item.author.avatar)
						.content
							| #{item.author.name}
							.sub.header #{item.read_minutes} minute read
