each item in items

	a(href='#{item.local_url}', target='_blank')
		.ui.card
			image
				img(src='#{item.image}', width='160')
			.content
				.header #{item.title}
				.meta #{item.author}
				.description #{item.content_text}
	p
	//-</virtual>
p
p

script.
	function myfunc(){
		console.log('myfunc')
	}